snippet erc "Export React.createClass" b
React = require 'react'
Router = require 'react-router'

Link = Router.Link
RouteHandler = Router.RouteHandler

module.exports = `!v expand("%:t:r")` = React.createClass
	displayName: "`!v expand("%:t:r")`"

	render: ->
		${1:<div className={ "`!v expand("%:t:r")` #{@props.className ? ""} "}>
			${2}
		</div>}
endsnippet
